<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=1300">
        <link rel="stylesheet" href="/styles/main.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
        <title>Главная страница</title>
    </head>
    <body>
        <div class="container">
            <div class="main">
                <header>
                    <h1 class="big_text">
                        <a href="/">rutify</a>
                    </h1>
                    <h1 class="big_text">
                        <a href="/user/logout">Выйти</a>
                    </h1>
                </header>
                <hr class="m">
                <h1 class="big_text">Ваши плейлисты</h1>
                <div class="wrapper">
                    <div class="playlist">
                        <p class="small_text playlistText">Создать плейлист</p>
                        <a href="/music/playlistCreate">
                            <img src="/media/avatars/plus.png" alt="404">
                        </a>
                    </div>
                    {% for playlist in dataTemplate.userPlaylists %}
                        <div class="playlist">
                            <p class="small_text playlistText">{{ playlist.name }}</p>
                            <a href="/music/playlist/{{playlist._id}}">
                                <img src="/{{playlist.avatar}}" alt="404">
                            </a>
                        </div>
                    {% endfor %}
                </div>

                <h1 class="big_text">Классические плейлисты</h1>
                <div class="wrapper">
                    {% for playlist in dataTemplate.systemPlaylists %}
                        <div class="playlist">
                            <p class="small_text playlistText">{{ playlist.name }}</p>
                            <a href="/music/playlist/{{playlist._id}}">
                                <img src="/{{playlist.avatar}}" alt="404">
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </body>
</html>