<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/main.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
        <title>Плейлист</title>
        <style>
            .red {
                color: red;
            }
        </style>
    </head>
    <body>
        {% if permission %}
            <form action="/music/playlistDelete" method="post">
                <input type="hidden" value="{{id}}" name="idPlaylist">
                <button type="submit">Удалить плейлист</button>
            </form>
            <form action="" method="get">
                <button type="submit"></button>
            </form>
        {% endif %}
        {% for track in data %}
            <hr>
            <div>
                <p>{{track.composition}}</p>
                <img src="/{{track.avatar}}" alt="404">
                <audio controls>
                    <source src="/{{track.track}}">
                </audio>
                <p>{{track.composer}}</p>
                {% if permission %}
                    <form action="/music/playlist/playlistTrack/delete" method="post">
                        <input type="hidden" value="{{id}}" name="idPlaylist">
                        <input type="hidden" value="{{track._id}}" name="idTrack">
                        <button type="submit">удалить композицию</button>
                    </form>
                {% endif %}
            </div>
        {% endfor %}
    </body>
</html>