<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/styles/main.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
        <title>Регистрация</title>
    </head>
    <body>
        <div class="container">
            <div class="window">
                <h1 class="big_text">Регистрация</h1>
                <form action="/user/registration" method="post">
                    <label  class="small_text" for="username">Логин</label>
                    <input class="text_input" name="username" placeholder="Введите имя пользователя" type="text" required>
                    <br>
                    <label class="small_text"  for="password">Пароль</label>
                    <input class="text_input" name="password" placeholder="Введите пароль" type="password" required><br>
                    <label class="small_text"  for="passwordConfirm">Подтверждение пароля</label>
                    <input class="text_input" name="passwordConfirm" placeholder="Подтверждение пароля" type="password" required><br>
                    <p class="red">{{ status }}</p>
                    <button type="submit">Зарегестрироваться!</button>
                    <p class="small_text">У вас уже есть аккаунт? <b>
                            <a href="/login">Вход в аккаунт</a>
                        </b>
                    </p>
                </form>
            </div>
        </div>
    </body>
</html>